<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>공지사항</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<!-- Header Fragment를 재사용 -->
<div th:replace="~{main :: header}"></div>

<div class="index-container">
    <h1>공 지 사 항</h1>
    <a href="/notice-board">
        <button class="button">Go to Notice Board</button>
    </a>

    <!-- 게시판 예시 -->
    <div class="notice-board">
        <div class="notice-item">
            <h3>공지사항 제목 1</h3>
            <p>2024년 11월 5일</p>
            <p>공지사항 내용 1</p>
        </div>
        <div class="notice-item">
            <h3>공지사항 제목 2</h3>
            <p>2024년 10월 25일</p>
            <p>공지사항 내용 2</p>
        </div>
        <div class="notice-item">
            <h3>공지사항 제목 3</h3>
            <p>2024년 10월 15일</p>
            <p>공지사항 내용 3</p>
        </div>
    </div>
</div>
<footer>
    <div class="footer-content">
        <p>&copy; 2024 ShopEasy. All rights reserved.</p>
        <nav>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
            </ul>
        </nav>
    </div>
</footer>
</body>
</html>
