<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 페이지</title>
    <link rel="stylesheet" th:href="@{/css/payment.css}">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="~{main :: header}"></div>

<main>
    <section class="payment-details">
        <h2>결제 정보 입력</h2>

<!--        <form th:action="@{/process-payment(${_csrf.parameterName}=${_csrf.token})}" method="post">-->
            <form th:action="@{/process-payment}" method="post">
            <!-- 결제 정보 입력 -->
            <div class="payment-info">
                <label for="payment-method">결제 방법</label>
                <select id="payment-method" name="paymentMethod">
                    <option value="credit-card">신용카드</option>
                    <option value="paypal">페이팔</option>
                    <option value="bank-transfer">은행 이체</option>
                </select>
            </div>

            <div class="address-info">
                <label for="address">배송 주소</label>
                <input type="text" id="address" name="address" placeholder="주소를 입력하세요" required />
            </div>

            <div class="contact-info">
                <label for="contact">연락처</label>
                <input type="text" id="contact" name="contact" placeholder="연락처를 입력하세요" required />
            </div>
            <!-- 숨겨진 필드로 productId 추가 -->
            <input type="hidden" name="productId" th:value="${product != null ? product.id : ''}" />
            <input type="hidden" name="userId" th:value="${user !=null ? user.id: ''}" />

            <!-- 사이즈 선택 필드 추가 -->
            <div class="size-info">
                <label for="size">사이즈 선택</label>
                <select id="size" name="size" required>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <!-- 필요에 따라 다른 사이즈 추가 -->
                </select>
            </div>

            <div class="order-summary">
                <p th:text="${product != null ? product.productName : '상품명 없음'}"></p>
                <p th:text="${product != null ? product.productPrice : '가격 없음'}"></p>

            </div>

            <button type="submit" class="payment-button">결제하기</button>
        </form>
    </section>
</main>

<div th:replace="~{sale :: footer}"></div>

</body>
</html>