<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Mall</title>
    <link rel="stylesheet" th:href="@{/css/sale.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<!-- 헤더 -->
<div th:replace="~{main :: header}"></div>

<!-- 메인 콘텐츠 -->
<main>
    <section class="product-list">
        <h2>판매 상품</h2>
        <div class="products">
            <div th:if="${#lists.isEmpty(products)}">
                <p>No products available.</p>
            </div>
            <div th:each="product : ${products}" class="product-card">
                <!-- 이미지 태그를 업데이트 -->
                <a th:href="@{'/product/' + ${product.id}}">
                    <img th:src="@{{image}(image=${product.productImage})}" alt="Product" />
                    <h3 th:text="${product.productName}"></h3>
                </a>
                <p th:text="${product.productPrice} + ' $'"></p>
                <button class="add-to-cart">Add to Cart</button>

            </div>
        </div>
    </section>

    <!-- 푸터 -->
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 ShopEasy. All rights reserved.</p>
            <nav>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</main>
</body>
</html>
